.about-container {
    background-color: var(--background-color);
}

.about-headline {
    font-size: 2rem;
    text-align: center;
    color: var(--secondary-text);
}

.about-card {
    width: 50%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    font-size: 1.25rem;
}

.about-paragraph {
    color: var(--secondary-text);
    text-align: center;
    width: 100%;
}

/* ############# Media Queries ################ */

@media screen and (max-width: 767px) {
    .about-card {
        width: 100%;
    }
    .about-paragraph {
        width: 90%;
        margin: auto;
        padding-bottom: 20px;
    }
    /* .about-paragraph:nth-child(-1) {
        padding-bottom: 0;
    } */
}
