.contact-container {
    background-color: var(--card-color);
    padding: 2rem;
    width: 50%;
    margin: auto;
}

.contact-headline {
    font-size: 2rem;
    text-align: center;
    color: var(--secondary-text);
}

.contact-paragraph {
    margin: auto;
    color: var(--secondary-text);
    font-size: 1.25rem;
    text-align: center;
    padding: 25px;
}

.email-container {
    padding: 0;
}

.social-icons {
    padding: 25px;
}

.social-icons a {
    padding-right: 25px;
}
