.flip-card {
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px; /* 3D-Effekt */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front {
    background-color: var(--card-color);
    color: var(--primary-color);
}

.flip-card-back {
    background-color: var(--accent-color);
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
}

.project-summary {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.project-link-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.project-link {
    color: var(--background-color);
    background-color: var(--primary-color);
    border: 2px var(--primary-color) solid;
    border-radius: 30px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.project-link:hover {
    /* Neu hinzugefügt */
    background-color: #9a33ff;
}

/* Vorhandener Code */
.projects-container {
    background-color: var(--background-color);
}

.projects-headline {
    color: var(--secondary-text);
    text-align: center;
    font-size: 2rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    max-width: 650px;
    padding-bottom: 50px;
}

/* Angepasst: Neu als flip-card-container */
.project-card {
    background-color: var(--card-color);
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: brightness(0.75);
}

.project-card:hover {
    filter: brightness(1);
}

.project-info {
    color: var(--primary-color);
    display: flex;
    position: relative;
    width: 100%;
}

.project-info-container {
    display: flex;
    flex-direction: column;
}

.project-span {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    transform: rotate(-45deg);
    cursor: pointer;
}

.project-description {
    padding-left: 1rem;
    font-size: 0.75rem;
}

.project-title {
    padding-left: 1rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .project-container {
        grid-template-columns: 1fr;
    }
    .flip-card:hover .flip-card-inner {
        transform: none;
    }

    .flip-card.flip .flip-card-inner {
        transform: rotateY(180deg);
    }
}
