nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--card-color);
    align-items: center;
    padding: 1rem 8rem;
    font-family: "Plus-Jakarta-Sans", sans-serif;
}

.logo {
    justify-content: center;
}

.logo-image {
    height: 30px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 66%;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    background: none;
    transition: all 0.3s ease;
}

a:hover {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
