nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--accent-color);
    align-items: center;
    padding: 1rem 8rem;
    font-family: "Plus-Jakarta-Sans", sans-serif;
    position: relative;
    flex-wrap: wrap;
    transition: background-color 0.3s ease;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 0;
    cursor: pointer;
}

.logo-image {
    color: blue;
    height: 50px;
    min-width: 200px;
    max-width: 250px;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    flex-grow: 2;
    justify-content: flex-end;
    flex-shrink: 1;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    background: none;
    transition: all 0.3s;
    font-size: 1.25rem;
}

a:hover {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: all 0.3s ease;
}

.toggle-theme {
    cursor: pointer;
}

/* ############ Hamburger Menu ########### */

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.hamburger .bar {
    width: 24px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* ############ Hamburger Menu to X ############ */

/* Transformations for the Hamburger Menu to create an 'X' */
.hamburger .bar.change:nth-child(1) {
    transform: rotate(45deg) translate(7.5px, 7.5px); /* New transformation for the first bar */
}

.hamburger .bar.change:nth-child(2) {
    opacity: 0;
    transition: all 0.3s ease;
}

.hamburger .bar.change:nth-child(3) {
    transform: rotate(-45deg) translate(7.5px, -7.5px); /* New transformation for the third bar */
}

/* ############# Media Queries ###################*/

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 2rem;
        position: fixed;
        width: 100%;
        z-index: 1001;
        transition: background-color 0.3s ease;
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    ul {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 0;
        gap: 1rem;
        background-color: var(--accent-color);
        width: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .menu.open ul {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .hamburger {
        display: flex;
    }

    ul li {
        margin: 1rem 0;
    }

    .logo-image {
        height: 40px;
        min-width: 180px;
        max-width: 230px;
    }
}

/* ######## Dark Mode Settings ############ */

[data-theme="dark"] nav {
    /* Hintergrund für Dark Mode */
    color: var(--primary-color);
}

[data-theme="dark"] .menu.open ul {
    background-color: var(--accent-color);
}

[data-theme="dark"] ul a {
    color: var(--primary-color);
}

[data-theme="dark"] .hamburger .bar {
    background-color: var(--primary-color);
}

/* ############ Light Mode ############# */

[data-theme="light"] nav {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

[data-theme="light"] .menu.open ul {
    background: var(--primary-gradient);
    background-size: 200%;
    background-position: center;
}

[data-theme="light"] ul a {
    color: var(--primary-color);
}

[data-theme="light"] .dark-light-icon-moon {
    color: var(--primary-color);
}

[data-theme="light"] ul a:hover {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: all 0.3s ease;
}

/* ############ Hamburger Menu Setting Light Mode ############ */
[data-theme="light"] .hamburger .bar {
    background-color: var(--secondary-text);
}
